.results {
  display: none;
  margin-top: 15px;
}
p.results {
  font-size: 14pt;
}
#subHead {
  font-style: italic;
}
#name {
  font-style: italic;
}
form {
  max-width: 30%;
  margin-left: 20px;
}
input {
  margin-bottom: 15px;
}
